@font-face {
    font-family: 'CustomFont1';
    src: url('./assets/fonts/GT-Sectra-Fine-Bold.ttf') format('truetype');
   
}

@font-face {
    
    font-family: 'CustomFont2';
    src: url('./assets/fonts/GT-Sectra-Fine-Regular.ttf') format('truetype');
}



body {
    
}
